// Colors
$emphasis: #854242;
$medium-pink: #DA9494;
$soft-pink: #EEDDDD;

$main-background: #E0A3A3;
$background-decor: #DC8D8D;

$main-text: #562121;

// Font sizes
$page-title: 42px;
$sub-title: 26px;
$section-title: 18px;
$button-size: 16px;

$mobile-title: 24px;